body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./imgs/signup-background.webp");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  font-size: 2.5rem;
}

form {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
button {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

input {
  border: 2px solid #4caf50;
  background-color: #f8f8f8;
}

input:focus {
  outline: none;
  border-color: #087f23;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

button:hover {
  background-color: #087f23;
  transform: translateY(-2px);
}

#go-to-login {
  background-color: #6c757d;
}

#go-to-login:hover {
  background-color: #5a6268;
}
