body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("./imgs/zoo-background.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
}

#filters {
  background: rgba(255, 255, 255, 0.75);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#filters input,
#filters select,
#filters button {
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 5px;
  background: #fff;
  color: #333;
}

#filters button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

#filters button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

#animal-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

#animal-cards div {
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
}

#animal-cards div:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
}

#animal-cards img {
  width: 100%;
  max-width: 180px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

#animal-cards h3 {
  margin: 10px 0;
  font-size: 1.5em;
}

#animal-cards p {
  margin: 5px 0;
}

#animal-cards button {
  margin-top: 15px;
  background-color: #28a745;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#animal-cards button:hover {
  background-color: #218838;
}
